-f https://cybernetics.hudora.biz/nonpublic/eggs/
Django
python-memcached
couchdb
simplejson
huTools>=0.40
huDjango
pyJasper
hudoratools
cs>=0.10
mypl
-e git+http://github.com/hudora/huSoftM.git#egg=huSoftM
