                /* Normalizes margin, padding */
                body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
                h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td
                {
                        margin: 0; padding: 0;
                }


                /* Removes list-style from lists */

                ol, ul
                {
                        list-style: none;
                }

                fieldset, img
                {
                        border: 0;
                }

                caption, th
                {
                        text-align: left;
                }

                html {
                        text-align: center;
                }


                body {
            font-family: Helvetica;
                        width: 800px;
                        margin: 0 auto;
                        text-align: left;
                        position: relative;
            padding-top: 5px;
        }

        a {
            color: #212e49
        }

        span {
            border:0px solid grey;
        }

        h2 {
            font-family: helvetica;
            font-size: 20pt;
            color: #4F94CD;
            margin-top: 20px;
            padding-bottom: 10px;
                }

      
    /* =td */

    td, th {
        padding: 3px;
        font-size: 11pt;
    }
    /* =p, =form, =table */

        p, form, table{
            padding: 7px;
        }


     /* =div#id */


        div {
            border: 0px solid grey;
        }
	    div#content {
            position: absolute;
            left: 0;
            width: 68%;
        }
 
	     div#content ul {
	        padding-left: 5px;	
        }

	    div#content_menu {
            position: absolute;
            left: 77%;
            width: 20%;
		}	   

        div#content_menu li {
             padding: 5px 100px 5px 15px;
             margin-top: 1px;
             background: #C9C299;
             height: 20px;
            font-size: 9pt;
        }

        div#content_main {
        } 
    

        div#info{
            background-color: #EAEAEA;
            margin-left: 3px;
        }
        div#list li{
            margin-top: 2px;
            position: relative;
            top: 120px;
            width: 200px;
            padding: 5px 3px 5px 5px;
            height: 15px;
            }

        div#content_main tr.odd, li.odd{
            background: #659EC7;
            padding: 10px;
            width: 70px;
        }

        div#content_main tr.even, li.even{
            padding: 10px;
            width:70px;
            background: #98AFC7;
        }

	div.warning {
	   width: 25em;
	   padding: 0 4em;
	   margin: 4em auto 0 auto;
	   border: 1px solid #ccc;
	   border-right-color: #999;
	   border-bottom-color: #999;
	}
	div.warning h1 {
	   size: 100%; color: #f00; line-height: 1.5em;
	}

	div.acknowledgement {
	   width: 25em;
	   padding: 0 4em;
	   margin: 4em auto 0 auto;
	   border: 1px solid #ccc;
	   border-right-color: #999;
	   border-bottom-color: #999;
	}
	div.acknowledgement h1 {
	   size: 100%; color: #0f0; line-height: 1.5em;
	}
