{% extends "myplfrontend/base.html" %}
{% load myplfrontendtags %}
{% load hudoratools hudjango %}

{% block content %}
<div id="content_main">

<style>
.orders * .r_yes {color: #080;}
.orders * .r_maybe {color: #040;}
.orders * .r_no {color: #bbb;}
.orders * .processing {background-color: #ffb;}
</style>

<table class="orders">
<tr>
<th>&nbsp;</th>
<th>Prio</th>
<th>Versandt.</th>
<th>KommiId</th>
<th>AuftrNr</th>
<th>Pos</th>
<th>Tries</th>
<th>Vol</th>
<th>KG</th>
<th>Liefert.</th>
<th>Kunde</th>
<th>&nbsp;</th>
</tr>

{% for kommiauftrag in kommiauftraege|slice:":200" %}
<tr title="{% for orderline in kommiauftrag.orderlines %}{{ orderline.menge }}x{{ orderline.artnr }}{% endfor %}"
 class="r_{{ kommiauftrag.shouldprocess }} {% ifequal kommiauftrag.status "processing" %}processing{% endifequal %}">

<td style="white-space:nowrap">{% if p.fixtermin %}<img src="http://s.hdimg.net/chameleon/silver/time.gif" alt="Fix"/>{% endif %}</td>
<td style="white-space:nowrap">{{ kommiauftrag.priority }}</td>
<td style="white-space:nowrap">{{ kommiauftrag.versandtermin }}</td>
<td style="white-space:nowrap"><a href="{{ kommiauftrag.kommiauftragsnr }}/">{{ kommiauftrag.kommiauftragsnr }}</a></td>
<td style="white-space:nowrap">{{ kommiauftrag.auftragsnummer}}</td>
<td style="white-space:nowrap; text-align:right">{{ kommiauftrag.orderlines_count }}</td>
<td style="white-space:nowrap; text-align:right">{{ kommiauftrag.tries }}</td>
<td style="white-space:nowrap; text-align:right">{{ kommiauftrag.volumen|floatformat }}</td>
<td style="white-space:nowrap; text-align:right">{{ kommiauftrag.gewicht|g2kg}}</td>
<td style="white-space:nowrap">{{ kommiauftrag.liefertermin }}</td>
<td style="white-space:nowrap">{{ kommiauftrag.kundennr }} {{ kommiauftrag.kundenname }}
    {% ifequal kommiauftrag.status "processing" %}(Kommischeine erzeugt){% endifequal %}
</td>
<!-- <td>{% if p.kep %}<img src="http://s.hdimg.net/chameleon/silver/email.gif" alt="KEP"/>{% endif %}</td> -->
<!-- <td>{% if p.anbruch %}<img src="http://s.hdimg.net/chameleon/silver/unlocked.gif" alt="Anbruch"/>{% endif %}</td> -->
<td>{% comment %} <a href="./push/{{ p.id }}">Vorziehen</a>{% endcomment %} &nbsp; </td>
</tr>
{% endfor %}
</table>

{% if kommiauftraege|length|gt:"200" %}
    <p>Die Liste der Kommissionieraufträge ist zu lang. Es werden nur die ersten 200 Einträge angezeigt.</p>
{% endif %}

<p><img src="http://s.hdimg.net/chameleon/silver/time.gif" alt="Fix"/> Fixtermin/Werbung</p>
</div>
{% endblock%}
