{% extends "myplfrontend/base.html" %}
{% load myplfrontendtags %}

{% block content %}
<div id="content_main">
{% if tracking_infos %}

    <table>
        <thead><tr><th>Menge</th><th>ArtNr.</th><th>Zuletzt gesehen</th></tr></thead>
        <tbody>
        {% for info in tracking_infos %}
        <tr class="{% cycle odd,even %}">
            <td>{{info.menge}}</td>
            <td>{{info.artnr|link_product}}</td>
            <td>{{info.lastseen|fix_timestamp}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <form action="../create_movement/" method="POST">
        <button type="submit" value="movement" name="provisioningtype"><strong>automatische Umlagerung erzeugen</strong></button>
    </form>
{% else %}
    <b>Es liegen momenten keine Umlagerungsanforderungen vor.</b>
{% endif %}
</div>
{% endblock %}