{% extends "myplfrontend/base.html" %}
{% load myplfrontendtags hudoratools %}
{% block title %}Abweichungen zum SoftM Lagerbestand{% endblock %}
{% block headline %}Abweichungen zum SoftM Lagerbestand{% endblock %}
{% block content %}
<div id="content_main">
    <table>
        <tr><th>ArtNr.</th><th>Menge in myPL</th><th>Menge in SoftM</th></tr>
        {% for entry in differences %}
        <tr class="{% cycle odd,even %}">
            <td>
                {{ entry.artnr }}
            </td>
            <td>
                {{ entry.mypl }}
            </td>
            <td>
                {{ entry.softm }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
</body>
</html>

